
.stat1
{
	background-image:url("bg.png");
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:60px;
	padding-top:0;
	padding-bottom:10px;
	color:white;
	background-attachment:scroll;
	font-size:65px;
}

.stat1 i
{
	padding-top:17px;
	border-radius:50%;
	width:100px;
	height:100px;
	background:grey;
}

.stat1 i:hover
{
	background:steelblue;
}

.stat1-items h2
{
	padding-top:20px;
	font-weight:bold;
	font-size:35px;
	color:white;
}

.stat1-items h2:hover
{
	color:darkorange;
}

.stat1 p
{
	font-size:14px;
	font-weight:200;
	letter-spacing:1px;
}

