.stat2
{
	background:#121212;
	padding-top:80px;
	padding-bottom:80px;
	color:white;
	background-attachment:fixed;
	margin-top:200px;
}

.stat2
{
	font-size:26px;
}

.stat2-items h2
{
	font-weight:bold;
	font-size:36px;
	color:darkorange;
}

.stat2 p
{
	font-weight:bold;
	letter-spacing:1px;
}