
footer a:focus 
{
  outline:0px solid;
  text-decoration:none;
}

footer img 
{
  max-width:100%;
  height:auto;

}

.fix 
{
  overflow:hidden;
}

footer p 
{
  margin:0 0 15px;
}

footer a 
{
  transition: all 0.3s ease 0s;
  text-decoration:none;
  color:#444444;
}
footer a:hover 
{
  color: #32B5F3;
  text-decoration: none;
}

footer a:active, footer a:hover 
{
  outline: 0 none;
}

footer ul
{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.clear
{
  clear:both
}



footer .section-padding 
{
  padding: 80px 0;
}


.footer-top-area 
{
  background: #333333 none repeat scroll 0 0;
  color: #d4d4d4;
  padding: 35px 0;
}

.footer-left p
{
  margin-left: 3%;
}

.footer-left img 
{
  padding-bottom: 30px;
  width: 50%;
  height : 50%;
  margin-left: 3%;
}

.footer-contact li i 
{
  margin-right: 18px;
  font-size: 16px;
}

.footer-contact > li 
{
  line-height: 1;
  margin-bottom: 25px;
}
.footer-contact > li:last-child 
{
  margin-bottom: 0;
}

.single-footer 
{
  padding-top: 45px;
}

footer .social-icon a 
{
  background: #d4d4d4 none repeat scroll 0 0;
  border-radius: 50%;
  color: #444444;
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 38px;
}
footer .social-icon > li 
{
  display: inline-block;
  margin-right: 16px;
}
footer .social-icon > li:last-child 
{
  margin-right: 0;
}
footer .social-icon a:hover 
{
  background: #32b5f3 none repeat scroll 0 0;
  color: #ffffff;
}

.footer-bottom 
{
  background: #242424 none repeat scroll 0 0;
  color: #ffffff;
}

.footer-bottom 
{
  background: #242424 none repeat scroll 0 0;
  color: #ffffff;
  line-height: 1;
  padding: 25px 0;
}

.footer-bottom-left > p 
{
  margin: 6px 0 0;
}

.footer-bottom-left a 
{
  color: #ffffff;
  font-weight: 600;
}

.footer-bottom-left a:hover 
{
  color: #32b5f3;
}