/* Wide Desktop: 1170 px  */
@media (min-width: 1170px) and (max-width: 1366px) {
.container {
    width: 1170px;
}
.layer-1 h2.title-1 {
  font-size: 70px;
}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.layer-1 h2.title-1 {
  font-size: 60px;
}
.layer-2 p.title-2 {
  padding: 25px 24% 35px;
}
.layer-4 {
  margin-top: 55px;
}
}


 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.layer-1 h2.title-1 {
  font-size: 50px;
}    
.layer-2 p.title-2 {
  padding: 25px 13% 35px;
}    

.layer-4 {
  margin-top: 30px;
}    
.layer-4 .title-4 input {
  height: 45px;
  line-height: 45px;
}    
.layer-4 form.title-4 button {
  height: 45px;
}    
}

 
/* small mobile :320px. */
@media screen and (max-width: 480px) {
.container {width:300px} 

.layer-1 h2.title-1 {
  font-size: 2px;
}
.layer-2 p.title-2 {
  display: none;
}
.layer-3 {
  padding: 20px 0;
}
.layer-4 form.title-4 button {
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  width: 35px;
}    
 
.layer-3 a.title-3 {
  padding: 8px 40px;
}    
.layer-4 .title-4 input {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 9px;
}
.layer-4 {
  margin-top: 0;
  margin-left: -26px;
}
 
.search-box input {
  width: 100%;
}    
.search-box input {
  height: 35px;
  padding-left: 14px;
  width: 100%;
}
.btn-search {
  float: right;
  height: 35px;
  margin-top: 10px;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

.layer-2 p.title-2 {
  display: block;
  padding: 10px 30px;
}
}
 
