

    .layer-1 h2.title-1 {
  animation: 0.8s ease-in-out 1s normal backwards 1 running fadeInLeft;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  position: absolute;
  top : 10%;
  width: 100%;
  text-align: center;
}
.layer-2 p.title-2 {
  animation: 0.8s ease-in-out 1.9s normal backwards 1 running zoomInDown;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top :25%;
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  

}
.layer-3 a.title-3 {
  animation: 0.8s ease-in-out 1.5s normal backwards 1 running fadeInRight;
  background: #32b5f3 none repeat scroll 0 0;
  border-bottom: medium none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left:42%;
  

}
.layer-4 .title-4 input {
  border: medium none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  color: #444444;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  position: absolute;
  width: 40%;
  top:70%;
  left :25%;
  
}
.layer-4 {
  margin-top: 77px;
}
.layer-4 form.title-4 button {
  background: #40acd7 none repeat scroll 0 0;
  border: medium none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 22px;
  height: 50px;
  line-height: 22px;
  position: absolute;
  width: 70px;
  top: 70%;
  left: 65%;
}
.layer-4 form {
  animation: 0.8s ease-in-out 2.0s normal backwards 1 running fadeInLeft;
  overflow: hidden;
}

.banner-area {
  position: relative;
  width: 90%
  margin: 0 auto;
}


.list-group a:hover{
  background-color: #fff;
  text-decoration: underline;
}

