
.topnav {
  overflow: hidden;
  background-color: white;
  text-align:center;
}

.topnav a {
  float: center;
  display: inline-block;
  color: #000;
  padding: 24px 16px 14px 16px;
  margin-left:8px;
  margin-right:8px;
  text-decoration: none;
  font-size: 17px;
  text-transform:uppercase;
  font-weight:bold;
  transition:all ease 0.5s;
}

.topnav a:hover {
  background-color:#008AC8;
  color:black;

}

.topnav a.active {
  background-color:#008AC8;
}

.topnav a.active:hover {
  background-color:white;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.sticky
{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:#008AC8;
}

.topnav.sticky a
{
  padding:10px 25px;
  font-size:14px;
}


.section
{
	padding-top:300px;
}