.navbar
{
  background-color:#008AC8;
  border-bottom:1px solid white;
}

.navbar a
{
  font-weight:bold;
  text-transform:uppercase;
}

#li1:hover
{
  color: black;
  font-weight:700;
  border-bottom: solid black 2px;
}

#li3:hover
{
  color: black;
  font-weight:700;
  border-bottom: solid black 2px;
}

#li4:hover
{
  margin-left: 5px;
  margin-right: 5px;
  font-weight:700;
  border-bottom: solid black 2px;   
}

#li5:hover
{
  margin-right: 5px;
  font-weight:700;
  border-bottom: solid black 2px;
}